absl-py
aiohttp
aiosignal
annotated-types
anyascii
asgiref
async-timeout
attrs
audioread
Babel
bangla
bidict
blinker
blis
bnnumerizer
bnunicodenormalizer
catalogue
certifi
cffi
channels
charset-normalizer
click
cloudpathlib
confection
contourpy
coqpit
cycler
cymem
Cython
dateparser
decorator
Django
dnspython
docopt
einops
encodec
eventlet
filelock
Flask
Flask-SocketIO
Flask-Sockets
fonttools
frozenlist
fsspec
g2pkk
gevent
gevent-websocket
greenlet
grpcio
gruut
gruut-ipa
gruut_lang_de
gruut_lang_en
gruut_lang_es
gruut_lang_fr
gunicorn
h11
hangul-romanize
huggingface-hub
idna
inflect
itsdangerous
jamo
jieba
Jinja2
joblib
jsonlines
kiwisolver
langcodes
language_data
lazy_loader
librosa
llvmlite
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
mpmath
msgpack
multidict
murmurhash
networkx
nltk
num2words
numba
numpy
packaging
pandas
pillow
platformdirs
pooch
preshed
protobuf
psutil
pycparser
pydantic
pydantic_core
Pygments
pynndescent
pyparsing
pypinyin
pysbd
pyspellchecker
python-crfsuite
python-dateutil
python-engineio
python-socketio
pytz
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
shellingham
simple-websocket
six
smart-open
soundfile
soxr
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
SudachiDict-core
SudachiPy
sympy
tensorboard
tensorboard-data-server
thinc
threadpoolctl
tokenizers
torch
torchaudio
tqdm
trainer
transformers
TTS
typeguard
typer
typing_extensions
tzlocal
umap-learn
Unidecode
urllib3
wasabi
weasel
Werkzeug
wrapt
wsproto
yarl
zope.event
zope.interface
